/*=========================================================
	CSS for layout
*/
.navbar{
    margin-bottom: 0px;
}
.navbar-topbar{
	background-color:#428bca;
}
.topbar-nav{
	float: right;
	margin-bottom:0px;
}
.topbar-nav > li {
	display: inline-block;
	vertical-align:middle;
	padding: 5px;
}
a.white{
	cursor:pointer;
    color: white;
}
.topbar-nav > li > a:hover {
	color:blue;
	text-decoration: none;
}
#legal{
	text-align:center;
	padding:5px;
}
.left{
	float:left;
}
.right{
	float:right;
}
footer{
	padding-top:15px;
	margin-top:15px;
	background-color:#428bca;
}
.footer-info{
	min-height:300px;
}
/*===========================================================
	CSS for setup.
	
	Account: [small|medium|large] profile image
	div: align center
*/
.profile-image-xsmall{
	margin:2.5px;
	width:25px;
	height:25px;
}
.profile-image-small{
	margin:10px;
	width:50px;
	height:50px;
}
.profile-image-medium{
	margin:15px;
	width:80px;
	height:80px;
}
.profile-image-large{
	margin:20px;
	width:120px;
	height:120px;
}
.relative{
	position:relative;
}
.stick-bottom{
	position:absolute;
	bottom:0;
}
/*===========================================================
	CSS for index
*/
.header-image{
	
}
.section{
	padding: 95px 0px 15px 0px;
    clear: both;
}
.section-intro{
	text-align:center;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.09);
	padding:15px;
}
.section-intro img{
	height: 140px;
    width: 140px;
    position: relative;
    top: -80px;
    border: 5px solid white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-intro-content{
    position: relative;
    top: -80px;
}
.no-padding{
	padding:0px;
}
/*=============================================================
	CSS for forum
*/
.forum-sidebar-account .panel-heading{
	text-align:center;
}
.forum-trending-card{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.post-link{
	cursor:pointer;
	margin-bottom:7px;
}
.forum-post-control-grps{
	margin-bottom:10px;
}
.post .col-sm-2{
	width:15%;
}
.post .col-sm-8{
	padding:0px;
	width:70%;
}
.post-orginal .panel .panel-body{
	background-color: rgba(92, 184, 92, 0.1);
}
.post-text-content{
	overflow:auto;
}
.post-date{
	color:grey;
	padding:5px;
	left:0;
	bottom:-5px;
	font-size:12px;
	position:absolute;
}
.post-button-group div button{
	background-color:rgba(0,0,0,0);
}
/*=============================================================
	CSS for activity listing
*/
.activitypic{
	width:100%;
	height:auto;
}