/*=========================================================
	CSS for layout
*/
.logo-a{
	height:50px;
	font-size: 1.4em;
	color:black;
	display: inline-flex;
}
.logo-a:hover{
	text-decoration:none;
}
.logo-a p{
	height:100%;
	margin:0px;
	padding:15px;
}
.logo{
    height: 40px;
    margin: 5px;
    margin-right: 0px;
}
.navbar{
    margin-bottom: 0px;
}
.navbar-topbar{
	background-color:#428bca;
}
#no-margin{
	 margin-bottom: 0px;
}
.topbar-nav{
	float: right;
	margin-bottom:0px;
    height: 30px;
}
.topbar-nav > li {
	display: inline-block;
	vertical-align:middle;
	padding:5px 0px 5px 0px;
}
a.white{
    padding: 7px;
    padding-bottom: 4px;
    padding-right: 10px;
    padding-left: 10px;
    cursor: pointer;
    color: white;
}
.topbar-nav > li > a:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border-bottom: 3px solid #abd8ff;
    text-decoration: none;
}


footer{
	clear:both;
}
.footer-info{
	background-color: #d6e7f7;
}
.footer-info div h4{
    border-bottom: 2px solid #428bca;
    padding: 10px;
    padding-left: 0px;
}
.footer-info ul{
	padding-left:0px;
}
.footer-info ul li{
	list-style-type: none;
    padding-bottom: 5px;
}
.footer-info ul li a{
	color:black;
}
.footer-info ul li a:hover{
	text-decoration:none;
	color:#428bca;
}
#legal{
    text-align: center;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    background-color: #428bca;
}
.sticky-sidebar{
	z-index: 10;
}
/*===========================================================
	CSS for setup.
	
	Account: [small|medium|large] profile image
	div: align center
*/
.profile-image-xxsmall{
	margin:2.5px;
	width:15px;
	height:15px;
}
.profile-image-xsmall{
	margin:2.5px;
	width:25px;
	height:25px;
}
.profile-image-small{
	margin:10px;
	width:50px;
	height:50px;
}
.profile-image-medium{
	margin:15px;
	width:80px;
	height:80px;
}
.profile-image-large{
	margin:20px;
	width:120px;
	height:120px;
}
.profile-image-largest{
	margin:20px;
	width:240px;
	height:240px;
}
.relative{
	position:relative;
}
.stick-bottom{
	position:absolute;
	bottom:0;
}
.auto-overflow{
	overflow:auto;
}
/*===========================================================
	CSS for index
*/
#header-carousel{
    height: 92vh;
    overflow:hidden;
}
#main-container{
    position: relative;
    top: 0px;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 21px;
    padding-top: 0px;
    opacity: 0;
    transition:opacity 0.5s;
}
.header-img{
	min-height:100vh;
}
.section{
	padding-top:5px;
}
.card-box:hover .thumbnail{
	box-shadow: 0 0 30px -5px #5f5f5f;
	transition:box-shadow 0.5s;
}
.thumbnail > img, .thumbnail a > img {
    min-height: 260px;
}

/*=============================================================
	CSS for forum
*/
.forum-side-bar-table tbody tr td{
	padding: 5px 0px 5px 0px;
}
.forum-sidebar-account .panel-heading{
	text-align:center;
}
.forum-trending-card{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.forum-main-trending > .panel-body{
	padding:0px;
	padding-top:20px;
	padding-bottom:20px;
}
.trending-panel-heading{
	padding-top:25px;
}
.trending-panel-heading span{
	color:red;
}
.Forum-card{
    margin-bottom: 10px;
}
.post-link{
	cursor:pointer;
	margin-bottom:7px;
}
.post-closed{
	background-color:rgba(91, 192, 222, 0.1);
}
.forum-post-control-grps{
	margin-bottom:10px;
}
.tab-title{
	text-transform:capitalize;
}
.post .col-sm-2{
	width:15%;
}
.post .col-sm-8{
	padding:0px;
	width:70%;
}
.post-orginal .panel-body{
	background-color: rgba(92, 184, 92, 0.1);
}
.post-text-content{
	overflow:auto;
}
.post-catTag-group div{
	padding-left:0px;
}
.post-date{
	color:grey;
	padding:5px;
	left:0;
	bottom:-5px;
	font-size:12px;
	position:absolute;
}
.post-button-group div button{
	background-color:rgba(0,0,0,0);
}
.post-button-group > div > .post-followed{
    background-color: #d9534f;
    border-color: #d43f3a;
}
.post-old-content{
	background-color: rgba(92, 184, 92, 0.05);
	padding:10px;
	text-decoration: line-through;
}
.post-best-answer .post-comment-content .panel-body{
	background-color: rgba(255, 242, 180, 0.45);
}
.post-best-answer-btn{
	display:none;
}
.post-comment:hover > div > .post-best-answer-btn{
	display:block;
}
#post-best-answer-badge{
	cursor:auto;
}
.comment-box{
	background-color:rgba(51, 122, 183, 0.1);
}
.comment-under-comment div{
    display: inline-flex;
    padding: 1px;
}
.comment-under-comment div img{
	margin-left:15px;
}
.comment-under-comment div p{
	padding:5px;
	margin: 0px;
}
.forum-sidebar-top-answerer img{
	max-width: 100%;
}
/*=============================================================
	CSS for activity
*/
#actpic{
	width:100%;
	height:auto;
}
#fullactivitypic{
	width:80%;
	height:auto;
}
.fullactpic{
	width:80%;
	height:auto;
}
#factpic{
	width:437px;
	height:480px;
	padding:10px;
}
.select select{
	color:#3b8ec2;
	border-radius:5px;
}
.activitycheckbox {
	
	width: 16px;
	height: 16px;
	background: #ddd;
	margin: 20px 90px;

	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

/*=============================================================
	CSS for Search
*/
#searchForm div{
	padding-left:0px;
	padding-right:0px;
}
#searchForm .input-group{
	margin-left:0px;
	margin-right:0px;
}
#searchForm .input-group:first-child{
	width:100%;
}

/*=============================================================
	CSS for notification panel
*/
.notification-li{
	position: relative;
}
#notification-panel{
    position: absolute;
    left: 0;
    margin: 10px;
    margin-left:0px;
    min-width: 300px;
    display:none;
    z-index: 1000;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.12);
}
.close-notification{
	cursor:pointer;
}
.notification-list-item p{
	display:none;
}
/*=============================================================
	CSS for login panel
*/
.login-main-container{
	min-height:46vh;
}
.loading{
	cursor:progress;
}