/*=========================================================
	CSS for layout
*/
.navbar{
    margin-bottom: 0px;
}
.navbar-topbar{
	background-color:#428bca;
}
.topbar-nav{
	float: right;
	margin-bottom:0px;
}
.topbar-nav > li {
	display: inline-block;
	vertical-align:middle;
	padding: 5px;
}
a.white{
	cursor:pointer;
    color: white;
}
.topbar-nav > li > a:hover {
	color:blue;
	text-decoration: none;
}
#legal{
	text-align:center;
	padding:5px;
}
.left{
	float:left;
}
.right{
	float:right;
}
footer{
	padding-top:15px;
	margin-top:15px;
	background-color:#428bca;
}
.footer-info{
	min-height:300px;
}
/*===========================================================
	CSS for setup.
	
	Account: [small|medium|large] profile image
	div: align center
*/
.profile-image-xxsmall{
	margin:2.5px;
	width:15px;
	height:15px;
}
.profile-image-xsmall{
	margin:2.5px;
	width:25px;
	height:25px;
}
.profile-image-small{
	margin:10px;
	width:50px;
	height:50px;
}
.profile-image-medium{
	margin:15px;
	width:80px;
	height:80px;
}
.profile-image-large{
	margin:20px;
	width:120px;
	height:120px;
}
.relative{
	position:relative;
}
.stick-bottom{
	position:absolute;
	bottom:0;
}
.auto-overflow{
	overflow:auto;
}
/*===========================================================
	CSS for index
*/
.header-image{
	
}
.section{
	padding: 95px 0px 15px 0px;
    clear: both;
}
.section-intro{
	text-align:center;
	box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.09);
	padding:15px;
}
.section-intro img{
	height: 140px;
    width: 140px;
    position: relative;
    top: -80px;
    border: 5px solid white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.section-intro-content{
    position: relative;
    top: -80px;
}
.no-padding{
	padding:0px;
}
/*=============================================================
	CSS for forum
*/
.forum-sidebar-account .panel-heading{
	text-align:center;
}
.forum-trending-card{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
.forum-main-trending > .panel-body{
	padding:0px;
	padding-top:20px;
	padding-bottom:20px;
}
.Forum-card{
    margin-bottom: 10px;
}
.post-link{
	cursor:pointer;
	margin-bottom:7px;
}
.post-closed{
	background-color:rgba(91, 192, 222, 0.1);
}
.forum-post-control-grps{
	margin-bottom:10px;
}
.tab-title{
	text-transform:capitalize;
}
.post .col-sm-2{
	width:15%;
}
.post .col-sm-8{
	padding:0px;
	width:70%;
}
.post-orginal .panel-body{
	background-color: rgba(92, 184, 92, 0.1);
}
.post-text-content{
	overflow:auto;
}
.post-catTag-group div{
	padding-left:0px;
}
.post-date{
	color:grey;
	padding:5px;
	left:0;
	bottom:-5px;
	font-size:12px;
	position:absolute;
}
.post-button-group div button{
	background-color:rgba(0,0,0,0);
}
.post-old-content{
	background-color: rgba(92, 184, 92, 0.05);
	padding:10px;
	text-decoration: line-through;
}
.post-best-answer .post-comment-content .panel-body{
	background-color: rgba(255, 242, 180, 0.45);
}
.post-best-answer-btn{
	display:none;
}
.post-comment:hover > div > .post-best-answer-btn{
	display:block;
}
#post-best-answer-badge{
	cursor:auto;
}
.comment-box{
	background-color:rgba(51, 122, 183, 0.1);
}
.comment-under-comment div{
    display: inline-flex;
    padding: 1px;
}
.comment-under-comment div img{
	margin-left:15px;
}
.comment-under-comment div p{
	padding:5px;
	margin: 0px;
}

/*=============================================================
	CSS for activity
*/
#actpic{
	width:100%;
	height:auto;
}
#fullactivitypic{
	width:80%;
	height:auto;
}
.fullactpic{
	width:80%;
	height:auto;
}
#factpic{
	width:100%;
	height:auto;
	padding:10px;
}
.select select{
	color:#3b8ec2;
	border-radius:5px;
}
.activitycheckbox {
	
	width: 16px;
	height: 16px;
	background: #ddd;
	margin: 20px 90px;

	border-radius: 100%;
	position: relative;
	box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
}

/*=============================================================
	CSS for Search
*/
#searchForm div{
	padding-left:0px;
	padding-right:0px;
}
#searchForm .input-group{
	margin-left:0px;
	margin-right:0px;
}
#searchForm .input-group:first-child{
	width:100%;
}